[Unit]
Description=APC UPS Power Control Daemon for Linux

[Service]
ExecStartPre=-/usr/bin/rm -f /etc/apcupsd/powerfail
ExecStart=/usr/sbin/apcupsd -b -f /etc/apcupsd/apcupsd.conf

[Install]
WantedBy=multi-user.target
