[Unit]
Description=Collectd
After=network.target

[Service]
ExecStart=/usr/sbin/collectd -C /etc/collectd.conf -f

[Install]
WantedBy=multi-user.target
