[Unit]
Description=Initial cloud-init job (pre-networking)

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init start-local
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
