[Unit]
Description=APT Automatic Updates

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /var/lock/subsys/apt
ExecStop=/usr/bin/rm -f /var/lock/subsys/apt
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
