[Unit]
Description=BIRD Internet Routing Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/bird6
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
